<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body>
    <h2>Signup</h2>
    <form method="post">
        {% csrf_token %}
        <label>Username:</label><input type="text" name="username"><br>
        <label>Password:</label><input type="password" name="password"><br>
        <label>Confirm Password:</label><input type="password" name="confirm_password"><br>
        <button type="submit">Signup</button>
    </form>
    <a href="{% url 'login' %}">Already have an account? Login</a>
</body>
</html>
